<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="cat" class="com.jiang.bean.Cat" />
    <bean class="com.jiang.bean.Dog" />

    <!-- xml方式声明第三方开发的bean -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" />
    <bean class="com.alibaba.druid.pool.DruidDataSource" />
    <bean class="com.alibaba.druid.pool.DruidDataSource" />
</beans>